<div class="container-fluid col-10">
  <div class="row">
    <div class="col">
    </div>
    {{!-- Header --}}
    <div class="centered">
      <div class="container ">
        <h1 class="centered padding-20px-top">Eat-tha-Burger!</h1>
      <img id="bacon-burger" class="mb-4 img-responsive centered" src="./assets/img/bacon-burger.png">
      </div>
    </div>
    
    <div class="col">
    </div>
  </div>
  {{!-- add a burger section --}}
  <div class="col-md-12 bg-white">
    <form class="create-form">
      <div class="row">
        <div class="form-group centered">
          {{!-- <label for="burg">Burger: </label> --}}
          <h4 for="text centered">Add a Burger</h4>
          <input class="input input-border-bottom big-input" type="text" id="burg" name="burger_name" placeholder="Uber Delicious Burger">
        </div>
      </div>
              <button type="submit" class="addBurgerButton btn-extra-large btn btn-rounded btn-black centered">Add The Burger</button>
    </form>
  </div>
  {{!-- On the Menu --}}
  <div class="row mb-4 justify-content-center margin-40px-top">
    <div class="col-md-5 bg-light-gray border padding-20px-top">
      <h4 class="text-black padding-20px-bottom">On the Menu!</h2>
      <ul class="text-black">
        {{#each burger}}
        {{#unless this.devoured}}
        <p class="padding-20px-right">{{this.burger_name}}
          <button type="button" class="btn btn-danger change-burger margin-20px-left" data-burgerid="{{this.id}}">Devour</button>
            <hr class="bg-medium-gray">
        </p>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    {{!-- Devoured burger --}}
    <div class="col-md-5 bg-light-gray border padding-20px-top">
      <h4 class="text-black padding-20px-bottom">Devoured Burgers!</h2>
      <ul>
        {{#each burger}}
        {{#if this.devoured}}
        <p>{{this.id}}. {{this.burger_name}} - DEVOURED
            <hr class="bg-medium-gray">
        </p>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  
</div>