<div class="container-fluid col-10">
  <div class="row">
    <div class="col">
    </div>
    {{!-- Header --}}
    <div class="col">
      <h1  class="text-white">Eat-the-Burger!</h1>
      <img id="bacon-burger" class="mb-4 img-responsive" src="./assets/img/bacon-burger.png">
    </div>
    <div class="col">
    </div>
  </div>
  {{!-- On the Menu --}}
    <div class="row mb-4">
      <div class="col-6 bg-orange-opacity padding-20px-top">
        <h2 class="text-white">On the Menu!</h2>
          <ul>
            {{#each burgers}}
              {{#unless this.devoured}}
              <p>{{this.burger_name}}
                <button type="button" class="btn btn-danger" data-burgerid="{{this.id}}">Devour</button>
              </p>
              {{/unless}}
            {{/each}}
          </ul>
      </div>
      {{!-- Devoured burger --}}
      <div class="col-6 bg-orange-opacity padding-20px-top">
        <h2 class="text-white">Devoured Burgers!</h2>
          <ul>
            {{#each burgers}}
              {{#if this.devoured}}
              <p>{{this.id}}. {{this.burger_name}} - DEVOURED
              </p>
              {{/if}}
            {{/each}}
          </ul>
        </div>
    </div>
    {{!-- add a burger section --}}
    <div class="col bg-white">
      <form class="create-form">
        <div class="row">
          <div class="form-group centered">
            {{!-- <label for="burg">Burger: </label> --}}
            <label for="text">Add a Burger</label>
            <input class="input" type="text" id="burg" name="burger_name" placeholder="Uber Delicious Burger">
                      <button type="submit" class="btn btn-black ">Add Burger</button>

          </div>
        </div>
      </form>
    </div>
</div>


